/* Styling for the entire body */
body {
  background-color: #00b3e6; /* Light blue background */
}

/* Styling for all div elements */
div {
  width: 700px;
  margin: auto; /* Centers the div */
  font-family: "Helvetica Neue", sans-serif;
  background-color: white;
  padding: 30px; /* Adds space inside the div */
}

/* Styling for the element with id 'main-header' */
#main-header {
  font-size: 22px; /* Sets font size to 22px */
}

/* Styling for elements with class 'perspective-questions' */
.perspective-questions {
  font-style: italic; /* Italicizes the font */
}
